<div>

      <!-- <mat-grid-list   mat-grid-list cols="3" rowHeight="2:1" style="width: 30%" 
      *ngFor="let equipo of equipoPC">

              <mat-card style="width: 30%">
                  <label>
                      {{ equipo.TipoComputadora }}
                  </label>
                    </mat-card>
        </mat-grid-list> -->
</div>