<main>
<div>
  <div class="row">
    <div style="height: 20px"></div>
  </div>
  <div class="row">
    <div class="col">
        <ul style="list-style:none">
            <li>
                <h3>Filtros</h3>
            </li>
            <li>
                <div>
                    </div>
            </li>
          </ul>
    </div>

    <!-- ///////////////////////////////////// -->
    <div class="col-10">
      <mat-grid-list mat-grid-list cols="3" rowHeight="3:4">
        <mat-grid-tile *ngFor="let equipo of ListaEquipo">
          <mat-card style="text-align: center; width: 97%; height: 95%">
            <button (click)="DescripcionEquipo(equipo)" 
            mat-flat-button style="width: 95%; height: 45%">
            <img [src]="equipo.ImagenPrincipal" style="width: 100%; height: 100%">
          </button>
          <br>
          <mat-card-subtitle style="text-align: left">
            <a [routerLink]="['./equipo/descripcion',equipo.id] " (click)="DescripcionEquipo(equipo)">
              <b>{{ equipo.NombreDescripcion }}</b></a>
            </mat-card-subtitle>
            <label>{{ equipo.Preciorebaja | currency: 'USD' | lowercase }}</label>
            <mat-card-subtitle style="text-align: left">
              <label style="color: red">
                <b>{{ equipo.Precio | currency: 'USD' | lowercase }}</b>
              </label>
            </mat-card-subtitle>
            <br>
            <mat-card-content style="text-align: right">
              <img  src="assets/Imagenes/Estrellas.jpg"  />
            </mat-card-content>
            <br>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <!-- /////////////////////////////////////////// -->
  </div>

  <div class="row">
    <div class="col">
      <button (click)="agregarequipo()" mat-flat-button style="width: 100px; height: 100px">
        <img src="assets/Imagenes/agregar-equipo2.png" style="width: 100%; height: 100%">
      </button>
    </div>

      <div class="col">

      </div>
  </div>

</div>


    </main>