<main>
  <div class="container">
    <div class="row">
      <div style="height: 20px"></div>
    </div>
    <div class="row">
      <!-- <div class="col-2">
        <label>Nombre Descripción:</label> 
      </div> -->
      <div class="col-10">
        <div class="cajatexto">
          <mat-form-field >
            <input name="NombreDescripcion" id="txtNombreDescripcion"  
            matInput placeholder="Nombre Descripcion"  type="text" [(ngModel)]="nombredescripcioninput">
          </mat-form-field>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-6">
      <div class="cajatexto">
        <mat-form-field >
          <input name="imagenequipo" id="txtimagen" [(ngModel)]="imageninput" matInput placeholder="Imagen"  type="text">
        </mat-form-field>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-4">
      <div class="cajatexto">
        <mat-form-field >
          <input name="precioequip" id="txtprecio" [(ngModel)]="precioinput" matInput placeholder="Precio"  type="number">
        </mat-form-field>
      </div>
    </div>
    <div class="col-4">
      <div class="cajatexto">
        <mat-form-field >
          <input name="preciodescuento" id="txtpreciodescuento" [(ngModel)]="preciodescuentoinput" 
          matInput placeholder="Precio descuento"  type="number">
        </mat-form-field>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="procesador" id="txtprocesador" [(ngModel)]="procesadorinput" matInput placeholder="Procesador"  type="text">
        </mat-form-field>
      </div>
    </div>
    <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="memoriaram" id="txtmemoriaram" [(ngModel)]="memoriaraminput" matInput placeholder="Memoria RAM"  type="text">
        </mat-form-field>
      </div>
    </div>
  </div>
  
  <!-- <div class="row">
    <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="caracteristicasBluetoo" id="txtcaracteristicasBluetoo" [(ngModel)]="caracteristicasBluetooinput" matInput placeholder="Características De Bluetooth"  type="text">
        </mat-form-field>
      </div>
    </div>
    <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="modeloprocesador" id="txtmodeloprocesador" [(ngModel)]="modeloprocesadorinput" matInput placeholder="Modelo del Procesador"  type="text">
        </mat-form-field>
      </div>
    </div>
  </div> -->
  
  <div class="row">
    <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="peso" id="txtpeso" [(ngModel)]="pesoinput" matInput placeholder="Peso"  type="text">
        </mat-form-field>
      </div>
    </div>
    <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="numpuertosusb3" id="txtnumpuertosusb3" [(ngModel)]="numpuertosusb3input" 
          matInput placeholder="Número de Puertos USB 3.0"  type="text">
        </mat-form-field>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="incluye" id="txtincluye" [(ngModel)]="incluyeinput" matInput placeholder="Incluye"  type="text">
        </mat-form-field>
      </div>
    </div>
    <!-- <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="otrainformacion" id="txtotrainformacion" [(ngModel)]="otrainformacioninput" matInput placeholder="Otra Informació"  type="text">
        </mat-form-field>
      </div>
    </div> -->
  </div>
  
  <div class="row">
    <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="bluetooth" id="txtbluetooth" [(ngModel)]="bluetoothinput" matInput placeholder="Bluetooth"  type="text">
        </mat-form-field>
      </div>
    </div>
    <!-- <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="puertoethernet" id="txtpuertoethernet" [(ngModel)]="puertoethernetinput" matInput placeholder="Puerto Ethernet"  type="text">
        </mat-form-field>
      </div>
    </div> -->
  </div>

<div class="row">
<!-- <div class="col-5">
<div class="cajatexto">
<mat-form-field >
  <input name="cachememoriaram" id="txtcachememoriaram" [(ngModel)]="cachememoriaraminput" matInput placeholder="Cache de la Memoria RAM"  type="text">
</mat-form-field>
</div>
</div> -->
<div class="col-5">
<div class="cajatexto">
  <mat-form-field >
    <input name="puertohdmi" id="txtpuertohdmi" [(ngModel)]="puertohdmiInput" matInput placeholder="Puerto HDMI"  type="text">
  </mat-form-field>
</div>
</div>
</div>

  <div class="row">
    <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="camaraweb" id="txtcamaraweb" [(ngModel)]="camarawebinput" matInput placeholder="Cámara Web"  type="text">
        </mat-form-field>
      </div>
    </div>
    <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="puertos" id="txtpuertos" [(ngModel)]="puertosinput" matInput placeholder="Puertos"  type="text">
        </mat-form-field>
      </div>
    </div>
  </div>
  
  <div class="row">
    <!-- <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="camawebfrontal" id="txtcamawebfrontal" [(ngModel)]="camawebfrontalinput" matInput placeholder="Cámara Web Frontal"  type="text">
        </mat-form-field>
      </div>
    </div> -->
    <!-- <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="compatibilidad" id="txtcompatibilidad" [(ngModel)]="compatibilidadinput" matInput placeholder="Compatibilidad"  type="text">
        </mat-form-field>
      </div>
    </div> -->
  </div>
  
  <div class="row">
    <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="capamemoriagrafica" id="txtcapamemoriagrafica" [(ngModel)]="capamemoriagraficainput" matInput placeholder="Capacidad de Memoria Gráfica "  type="text">
        </mat-form-field>
      </div>
    </div>
    <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="resolucion" id="txtresolucion" [(ngModel)]="resolucioninput" matInput placeholder="Resolución"  type="text">
        </mat-form-field>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="capacidaddiscoduro" id="txtcapacidaddiscoduro" [(ngModel)]="capacidaddiscoduroinput" 
          matInput placeholder="Capacidad del Disco Duro"  type="text">
        </mat-form-field>
      </div>
    </div>
    <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="sistemaop" id="txtsistemaop" [(ngModel)]="sistemaopinput" matInput placeholder="Sistema operativo"  type="text">
        </mat-form-field>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="color" id="txtcolor" [(ngModel)]="colorinput" matInput placeholder="Color"  type="text">
        </mat-form-field>
      </div>
    </div>
    <!-- <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="softwareinclu" id="txtsoftwareinclu" [(ngModel)]="softwareincluinput" matInput placeholder="Software Incluido"  type="text">
        </mat-form-field>
      </div>
    </div> -->
  </div>

<div class="row">
<div class="col-5">
<div class="cajatexto">
<mat-form-field >
  <input name="tipocomputadora" id="txttipocomputadora" [(ngModel)]="tipocomputadorainput" matInput placeholder="Tipo de computadora"  type="text">
</mat-form-field>
</div>
</div>
<div class="col-5">
<div class="cajatexto">
  <mat-form-field >
    <input name="sonido" id="txtsonido" [(ngModel)]="sonidoinput" matInput placeholder="Sonido"  type="text">
  </mat-form-field>
</div>
</div>
</div>

<div class="row">
<div class="col-5">
<div class="cajatexto">
<mat-form-field >
  <input name="dimensiones" id="txtdimensiones" [(ngModel)]="dimensionesinput" matInput placeholder="Dimensiones"  type="text">
</mat-form-field>
</div>
</div>
<div class="col-5">
<div class="cajatexto">
  <mat-form-field >
    <input name="tamaniopanta" id="txttamaniopanta" [(ngModel)]="tamaniopantainput" matInput placeholder="Tamaño de la Pantalla"  type="text">
  </mat-form-field>
</div>
</div>
</div>

<div class="row">
<div class="col-5">
<div class="cajatexto">
<mat-form-field >
  <input name="dimensionesempaque" id="txtdimensionesempaque" [(ngModel)]="dimensionesempaqueinput" matInput placeholder="Dimensiones con Empaque"  type="text">
</mat-form-field>
</div>
</div>
<div class="col-5">
<div class="cajatexto">
  <mat-form-field >
    <input name="tarjetagrafica" id="txttarjetagrafica" [(ngModel)]="tarjetagraficainput" matInput placeholder="Tarjeta gráficos"  type="text">
  </mat-form-field>
</div>
</div>
</div>

<div class="row">
<div class="col-5">
<div class="cajatexto">
<mat-form-field >
  <input name="duracionbateria" id="txtduracionbateria" [(ngModel)]="duracionbateriainput" matInput placeholder="Duración de Batería"  type="text">
</mat-form-field>
</div>
</div>
<div class="col-5">
<div class="cajatexto">
  <mat-form-field >
    <input name="tipopantalla" id="txttipopantalla" [(ngModel)]="tipopantallainput" matInput placeholder="Tipo de Pantalla"  type="text">
  </mat-form-field>
</div>
</div>
</div>

<div class="row">
<div class="col-5">
<div class="cajatexto">
  <mat-form-field >
    <input name="entradatarmemoria" id="txtentradatarmemoria" [(ngModel)]="entradatarmemoriainput" matInput placeholder="Entradas de Tarjeta de Memoria"  type="text">
  </mat-form-field>
</div>
</div>
<div class="col-5">
  <div class="cajatexto">
    <mat-form-field >
      <input name="producto" id="txtproducto" [(ngModel)]="productoinput" matInput placeholder="Producto"  type="text">
    </mat-form-field>
  </div>
</div>
</div>

<div class="row">
<div class="col-5">
  <div class="cajatexto">
    <mat-form-field >
      <input name="marca" id="txtmarca" [(ngModel)]="marcainput" matInput placeholder="Marca"  type="text">
    </mat-form-field>
  </div>
</div>
<div class="col-5">
    <div class="cajatexto">
      <mat-form-field >
        <input name="sonido" id="txttiposonido" [(ngModel)]="tiposonidoinput" matInput placeholder="Tipo de Sonido"  type="text">
      </mat-form-field>
    </div>
  </div>
</div>

<!-- <div class="row">
<div class="col-5">
  <div class="cajatexto">
    <mat-form-field >
      <input name="marcaprocesadoro" id="txtmarcaprocesador" [(ngModel)]="marcaprocesadorinput" matInput placeholder="Marca del Procesador"  type="text">
    </mat-form-field>
  </div>
</div>
<div class="col-5">
    <div class="cajatexto">
      <mat-form-field >
        <input name="tipoteclado" id="txttipoteclado" [(ngModel)]="tipotecladoinput" matInput placeholder="Tipo de Teclado"  type="text">
      </mat-form-field>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-5">
    <div class="cajatexto">
      <mat-form-field >
        <input name="trackpad" id="txttrackpad" [(ngModel)]="trackpadinput" matInput placeholder="TrackPad"  type="text">
      </mat-form-field>
    </div>
  </div>
  <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="velocidadprocesador" id="txtvelocidadprocesador" [(ngModel)]="velocidadprocesadorinput" matInput placeholder="Velocidad del Procesador"  type="text">
        </mat-form-field>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-5">
    <div class="cajatexto">
      <mat-form-field >
        <input name="submarca" id="txtsubmarca" [(ngModel)]="submarcainput" matInput placeholder="Submarca"  type="text">
      </mat-form-field>
    </div>
  </div>
  <div class="col-5">
      <div class="cajatexto">
        <mat-form-field >
          <input name="sonido" id="txttiposonido" [(ngModel)]="tiposonidoinput" matInput placeholder="Tipo de Sonido"  type="text">
        </mat-form-field>
      </div>
    </div>
  </div>

<div class="row">
    <div style="height: 30px"></div>
  </div>

<div class="row">
  <div class="col-5" style="text-align: center">
    <button type="button" (click)="agregarequiponuevo()"
    class="btn btn-primary" style="width: 60%">Agregar</button>
  </div>
  <div class="col-5" style="text-align: center">
      <button type="button" class="btn btn-danger" style="width: 60%">Cancelar</button>
    </div>
</div>

<div class="row">
    <div style="height: 30px"></div>
  </div>

  </div>
</main>


